@media(max-width:621px){
    .hamburger{
        display: block;
        position: absolute;
        right: 25px;
        top: 9%;
        transform: translateY(-50%);
        width: 40px;
        height: 26px;
        z-index: 10;
    }
    .hamburger span{
        display: block;
        height: 2px;
        width: 100%;
        background-color:#717171;
        margin-bottom:6px;
        transition: 0.5s;
    }
    .hamburger_active{
        top: 10.3%;
    }
    .hamburger span:nth-child(4){
        margin-bottom: 0;
    }
    .hamburger_active span{
        margin-bottom: -2px;
    }
    .hamburger_active span:nth-child(1){
        width: 80%;
        transform: translateY(3px) rotate(-45deg);
    }
    .hamburger_active span:nth-child(2){
        display: none;
    }
    .hamburger_active span:nth-child(4){
        width: 80%;
        transform:translateY(3px) rotate(45deg);
    }
    .hamburger_active span:nth-child(3){
        display: none;
    }
    .header nav .hamburger_active{
        display: block;
    } 


    .header__nav {
        position: fixed;
        width: 100%;
        height: 100%;
        right: -100%;
        top:0;
        background-color:#edf2ec;
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        align-items:center;
        transition: all 0.3s ease 0s;
        padding: 100px;
        z-index: 1;
        overflow:auto;
    }
    .active {           
        right: 0;
    }

    .header__nav ul {
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .header__nav ul li {
       margin:0;
       font-size: 25px;
       margin-bottom: 20px;
    }
    .header__nav ul li:first-child a{
        color: #010201;
        font-weight: 400;
    }
    .header__nav ul li:first-child a:hover{
        color: #E06733;
        font-weight: 700;
    }
    .logo{
        z-index:10;
    }
    .media__burger ul{
        display: flex;
        flex-direction: row;
        align-items:space-between;
        justify-content: space-between;
        border-top: 1px solid #000;
        padding-top: 25px;
        width: 180px;
    }
    .overflow{
        overflow: hidden;
    }
    .menu__cards{
        flex-direction: column;
        align-items:center;
    }
    .menu__buttons{
        display: block;
    }
    .menu__buttons .menu__button{
        margin: 0;
    }
    .menu__buttons .menu__button:last-child{
        margin-top: 10px;
    }


    .prices{
        min-height: 512px;
        padding-bottom: 84px;
        padding-top:5px;
        padding-bottom: 37px;
    }
    .prices__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .prices__info{
        display: flex;
        flex-direction: column;
        align-items:center
    }
    .prices__info h2{
        font-size: 25px;
        text-align: center;
        margin-bottom: 40px;
    }
    .pricebuttons {
        min-height: 235px;
        max-width: 224px;
        padding: 29px 22px;
        border: 1px solid #E3E1D5;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index:0;
    }
    .pricebuttons label {   
        display: flex;
        align-items:center;
        justify-content: flex-start;
        font-size: 15px;
        max-width: 180px;
        max-height: 49px;
        transition: 0.2s;
        padding-left: 30px;
    }
    .pricebuttons label::after {   
       top: 18px;
    }
    .price__description{
        padding-top: 19px;
        max-width: 100%;
        display: flex;
        align-items:center;
    }
    .price__description h3 {
        font-size: 20px;
        margin-bottom: 22px;
        line-height: 35px;
        margin-bottom: 14px;
        text-align: center;
        max-width: 228px;
    }
    .price__contacts{
        margin: 0;
        align-items:center;
    }
    .price__contacts .menu__button{
        display: flex;
        justify-content: center;
        font-size: 15px;
        align-items:center;
        padding: 12px 16px 12px 30px;
    }
    .price__contacts img{
        display: none;
    }


    .contacts {
        min-height: 445px;
        background: #EDF2EC;
        padding-top: 15px;
    }
    .contacts .h2{
        margin-bottom: 80px;   
    }
    .contact__content { 
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items:center;
        font-size: 25px;
        padding-top: 11px;
    }
    .contact__content button::after {
        right: 20px;
    }
    .contact__button{
        justify-content: center;
    }
    .contact__header{
        text-align:center
    }
    .contact__content button{
        margin-bottom: 250px;
    }
    .contact__img{
        width: 100px;
        height: 124px;
    }
    .contact__img img{
        width:100%;
        height: auto;
    }
    .contact__content button {
        max-width: 300px;
        padding: 13px 279px 13px 20px;
        margin-bottom: 132px;
    }   
    .footer{
        padding: 24px 22px;
    }
    .footer h4{
        margin-bottom: 3px;
    }

    /* Изменение списка для бургера */
    .header__nav {
        position: fixed;
        width: 100%;
        height: 100%;
        right: -100%;
        top:0;
        background-color:#edf2ec;
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        align-items:center;
        transition: all 0.3s ease 0s;
        padding: 100px;
        z-index: 1;
        overflow:auto;
    }
    .active {           
        right: 0;
    }

    .header__nav ul {
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .header__nav ul li {
       margin:0;
       font-size: 25px;
       margin-bottom: 20px;
    }
    .header__nav ul li:first-child a{
        color: #010201;
        font-weight: 400;
    }
    .header__nav ul li:first-child a:hover{
        color: #E06733;
        font-weight: 700;
    }
    .logo{
        z-index:10;
    }
    .media__burger ul{
        display: flex;
        flex-direction: row;
        align-items:space-between;
        justify-content: space-between;
        border-top: 1px solid #000;
        padding-top: 25px;
        width: 180px;
    }
    .overflow{
        overflow: hidden;
    }
}